version: "3.9"

services:
  redis:
    image: redis:7
    container_name: naluri-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

  app:
    build: .
    container_name: naluri-app
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    restart: unless-stopped

volumes:
  redis-data:
