@import "tailwindcss";

@keyframes moveStars {
    from { background-position: 0 0; }
    to { background-position: 10000px 10000px; }
}

.animate-moveStars {
    animation: moveStars 200s linear infinite;
}

@keyframes spin-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.animate-spin-slow {
    animation: spin-slow 20s linear infinite;
}

.animate-pulse-slow {
    animation: pulse 3s ease-in-out infinite;
}